#formulario{ 
    width: 800px;
    margin: auto;
    max-width: 100%;
    background-color: #181818;
    padding: 20px;
   
   padding-bottom: 40px;
}

#subTitulo{
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

#info{   
    font-size: 20px;
    color: white;
}

input:focus{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.767);
}

input{
    background: transparent;
    color: rgba(255, 255, 255, 0.767);
    background-color: transparent;
}

label{
    color: seashell;
}

button{
    width: 375px;
}
#titulo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
}

